<body class="welcome-body">

  <div class="container"><!-- start of grid container -->

    <div class="row"><!-- start of navbar row -->
     <nav class="navbar navbar-default col-sm-8 col-sm-offset-2">

       <div class="brand-div text-left col-sm-2">
        <%= link_to 'http://www.astrology-api.com/' do %>
        <%= image_tag("wheel.jpg", :alt => "rss feed", class: 'wheel') %>
      </div>

      <div class="title-div col-sm-5">
        <h3>The Astrology API</h3>
        <% end %>
      </div>

      <div class="col-sm-2">
        <%= link_to 'http://www.astrology-api.com/' do %>
        <h4 class="docs-div">API Docs</h4>
        <% end %>

      </div>

      <div class="col-sm-3 soon-div">
        <%= link_to 'http://www.astrology-api.com/' do %>
        <h4>Coming Soon</h4>
        <% end %>
      </div>

    </nav>
  </div><!-- end of navbar row -->

  <div class="row"><!-- start of about box row -->
    <div class="about-box col-sm-8 col-sm-offset-2">
      <h1>Introducing the first Astrology API ever! Easy to use and very useful. </h1>

      <div class="col-sm-5">
        <p>This is the very first Astrology API that contains the essential information that every developer that is working on an Astrology application or website needs. </p>
      </div>

      <div class="col-sm-offset-1 col-sm-5">
        <p>Created by <%= link_to "EBM26", "http://www.eyalbenmoshe.com/", class: "my-name", :target => '_blank' %>, a web developer who is passionate about coding and Astrology and decided to put them both together for the benefit of the development community!</p>
      </div> 

      <div class="col-sm-offset-1 col-sm-11 divider1">
        ----------------------------------------------------------------------
      </div>
      <div class="col-sm-offset-1 col-sm-10 simple-code">

        <p class="simple-p">This API uses a simple Json interface. Just a few lines of simple code allow you to call on the information provided!</p>

      </div>

      <div class="col-sm-offset-1 col-sm-11 divider2">
        ----------------------------------------------------------------------
      </div>

      <div class="col-sm-6">
        <h2><u>My Simple Policy for Use</u></h2>
        <p>1. Create apps that benifit and empower the people</p>
        <p>2. Spread the awesomeness of and effectiveness of Astrlogy</p>
        <p>3. Credit me with a “Powered by EBM26” badge that links to http://www.astrology-api.com/ wherever you display data from the API.</p>
      </div>

      <div class="col-sm-6">
        <%= image_tag "wheel2.jpg", class: "Astro-map" %>
      </div>
      

    </div><!-- end of about-box div -->
  </div><!-- end of about box row -->

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <p class="col-sm-2 footer-text"><%= mail_to "ebmpro30@gmail.com", "Email Me", class: "footer-font" %></p>
      <p class="col-sm-2 footer-text"><%= link_to "Terms of Use", 'http://www.astrology-api.com/', class: "footer-font" %></p>
      <p class="col-sm-2 footer-text"><%= link_to "Privacy Policy", 'http://www.astrology-api.com/', class: "footer-font" %></p>
      <p class="col-sm-4 col-sm-offset-2 footer-text"><%= link_to "2015 EBM26 Productions", "http://www.eyalbenmoshe.com/", class: "footer-font" %></p>

    </div>

  </div>




</div><!-- end of grid container -->

</body>
